<div class='page-area'>
  <div class="text-center">
    <h2>Products</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
      repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
      eum harum corrupti dicta, aliquam sequi voluptate quas.</p>
  </div>
  <hr class="mb-3">
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
<hr class="mb-3">
<div class="overflow-auto">
  <div class="row">
    <div class="col-md-16" *ngFor='let item of data;let i=index'>
      <div class="card" style="width: 18rem;">
        <img [src]='item.img' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.....
          </p>
          <a routerLink='indivisual-product' (click)='editProduct(i);' class="btn btn-secondary">Know
            More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">